/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	padding-bottom: 40px;
	color: #787476;
	font-size: 18px;
	/*background: url(../img/bg.jpg) repeat-y 0% 0%;*/
}

#field {
  background: url('../img/parallax_2.jpg');
}

h4{
  font-size: 20px;
  font-weight: 500;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #D4D4D4;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  margin-bottom: 60px;
}

.carousel .item {
	height: 350px;;
	background-color: #777;
}

/* Declare heights because of positioning of img element */
#myCarousel.carousel .item {
  min-height: 900px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing{
	padding: 100px 0px 130px;
	text-align: center;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h3 {
  font-weight: 200;
  font-size: 36px;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.marketing p {
  margin:30px 10px;

}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0px 50px;
}

/* Thin out the marketing headings */
.featurette-heading {
  text-align: center;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/*@media (min-width: 768px) {*/
  /* Navbar positioning foo */
  
  .navbar-wrapper {
    margin-top: 50px;
  }
  
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
/*}

@media (min-width: 992px) {*/
  .featurette-heading {
    margin-top: 60px;
    margin-bottom: 20px;
  }
/*}*/

.navbar-inverse {
  background-color: transparent;
  font-size: 14px;
}

#introCarousel .carousel-caption {
	top:20px;
}

#myCarousel .carousel-caption {
	bottom: 30%;
	text-align: left;
	padding-right: 150px;
}

.navbar-inverse .navbar-brand span {
	font-size: 60px;  
  	color: #DA2727;
  	font-weight: 200;
  	font-family: monospace;
  	margin-left: -10px;
  	margin-right: 5px;
  	letter-spacing: -4px;
}

.navbar-inverse .navbar-brand:hover{
	color:#9d9d9d;
}

.carousel-caption h1{
	font-size: 70px;
	font-weight: 100;
	margin-bottom: 30px;
}

.carousel-caption h1 strong{
	display: block;
	font-size: 76px;
	color: #f53535;
	font-weight: 300;
	margin-left: 50px;
}

.carousel-caption p{
	text-shadow:none;
	color: #BFBFBF;
	margin-top: 10px;
}

#aboutus{
	width:100%;
	height:100%;
	background: red url('../img/parallax.jpg') no-repeat;
	padding:120px 0px;
	color: #fff;
	margin-bottom: 50px;
}

#aboutus h2{

  padding-bottom:40px;
  line-height: 80px;
  font-size: 70px;
  text-align: left;
 
}

#aboutus h2>span{
	display:block;
	font-size: 84px;
	font-weight: 200;
}

#aboutus h2:before {
  background: #fff;
  width: 181px;
  height: 7px;
  right: auto;
  bottom: 0;
  left: 0;
}

.icontitle .glyphicon{
	font-size: 5em;
	color: #f53535;
}


.icontitle:hover .glyphicon{
	font-size: 5em;
	color: #787476;;
  	color: #787476;
}

.ul-style li {
  list-style-type: upper-alpha;
  margin-top: 7px;
}


.lead li{
  margin-bottom: 10px;
}

.introSlide{
	background: url(../img/monitor.png) no-repeat 0% 0%;
	background-position: 55% 100%;
  	background-size: 35%;
}

#introCarousel{
	border:15px solid rgba(36, 36, 36, 0.71);
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 70px;
}

a.btn-primary {
	background:#f53535;
	display:inline-block;
	margin:0;
	padding:14px 30px 15px 30px;
	border:2px solid #f53535;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
	transition:0.8s;
	vertical-align:top;
	line-height:16px;
	font-size:16px;
	font-weight:500;
	text-align:center;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 767px) {
	a.btn-primary { margin-bottom:30px; }
}
a.btn-primary:focus {
	background:#f53535;
	border-color:#f53535;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	text-decoration:none;
	color:#fff;
}
a.btn-primary:hover {
	border-color:#fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	text-decoration:none;
/*	color:#2d3035;*/
color:#fff;
}

#figures{
/*	padding:50px 0px;*/
	margin-top: 60px;
	background: url(../img/para.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	color:#fff;
	font-weight: bold;
}

#figures i.glyphicon{
	font-size: 4em;
  	margin-top: 15px;
  	float: left;
  	margin-right: -40px;
}


#figures .col-md-4 a{
  color: #fff;
  
}

#figures .col-md-4 a:hover{
  text-decoration: none;
}

#features .fancybox img{
  width:450px;
  margin-top: 100px;
}

#gallery img{
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 360px;
}

#gallery img.no-radius{
  border-radius: 0px !important;
  max-height: 700px;
}

.create_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  text-align: center;
  border-radius: 5px;
  padding-top:70px;
  font-style: normal;
  color: #fff;
  font-weight: bold;
}

.fancybox:hover .create_hover { 
	display: block;
}

#gallery .item {
  margin: 40px 10px 10px;
  border: 1px solid #cdd1d8;
  position: relative;
  padding:10px;
  border-radius: 5px;
}

#gallery .item img{
  width: 318px;
  height: 190px;
}

.featurette i.fa{
  font-size: 9em;
  color: #f53535;
  margin-top: 40px;
  text-align: center;
}

#advantage .col-md-4{
	padding: 40px 10px;
}

#advantage .col-md-4:hover{
	background:rgb(232, 232, 232);
} 

#gallery{
  margin-top: 50px;
  margin-bottom: 150px;
}

.boxcontent{
  display: none;
}

.border-right{
  border-right: 1px solid red;
}

.text-center{
  text-align: center;
}

h3 i.fa{
  color:#f53535;
}

table.table-info th{
  width: 15%;
  border-right: 1px solid #ddd;
}

.table-info>tbody>tr:nth-of-type(odd)>td {
    background-color: #D4D4D4;
}

.table-info>tbody>tr>td, .table-info>tbody>tr>th{
  border-top:none;
}

.jobs{
  margin-top: 70px;
  margin-bottom: 100px;
}

blockquote{
  padding-bottom: 5px;
  color:#8A8A8A;
  font-size: 22px;
  font-weight: 100;
}

.navbar-inverse .navbar-nav>li>a {
    color: #E5E5E5;
}

.navbar-inverse .navbar-brand {
    color: #E5E5E5;
}