    <div id="gallery" class="container">
      <h2 class="featurette-heading">{{garden.name}}</h2>
      <hr class="featurette-divider">

      <div class="row"><img ng-src="{{garden.imgs[2]}}" class="no-radius"></div>

      <div class="row">
        <h3><i class="fa fa-line-chart"></i> 项目概况</h3>
        <hr class="featurette-divider">
        
        <div class="col-md-offset-1 col-md-10">
        <table class="table table-hover table-info">
          <tbody>
            <tr><th>位置</th><td>{{garden.location}}</td></tr>
            <tr><th>建设周期</th><td>{{garden.status}}</td></tr>
            <tr><th>建筑面积</th><td>{{garden.officeArea}} 平方米</td></tr>
            <tr><th>占地面积</th><td>{{garden.totoalArea}} 平方米</td></tr>
            <tr><th>仓库类型</th><td>{{garden.type}}</td></tr>

          </tbody>

        </table>
      </div>

      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6"><a rel="group" href="{{garden.imgs[0]}}"><img ng-src="{{garden.imgs[0]}}"></img></a></div>

        <div class="col-md-6"><img ng-src="{{garden.imgs[1]}}"></img></div>
      </div>



      <div class="row">
        <h3><i class="fa fa-edit"></i> 项目简介</h3>
        <hr class="featurette-divider">

        <div class="col-md-offset-1 col-md-6">
          <p>{{garden.intro}}</p>
        </div>

        <div class="col-md-4">
          <p><b>便捷的交通网络</b></p>
          <ul>
            <li ng-repeat="line in garden.network">{{line}}</li>
          </ul>
        </div>

      </div>
    
    </div>