  <div class="col-sm-9">
        <h3 class="text-center"><i class="fa fa-graduation-cap"></i> {{job.name}}</h3>
        <hr class="featurette-divider">

      <div class="row">
       
        <div class="col-sm-offset-1 col-sm-2"><h4><i class="fa fa-tags"></i> 基本信息 </h4></div>  

        <div class="col-sm-3">招聘人数：{{job.number}} <br /> 最低学历：本科 </div>  

        <div class="col-sm-6">工作地点：{{job.location}} <br />  发布日期：2015-09-12</div>  

      </div>

      <hr class="featurette-divider">
      
      <div class="row">
       
        <div class="col-sm-offset-1 col-sm-2"><h4><i class="fa fa-edit"></i> 岗位职责</h4></div>  

        <div class="col-sm-6">
          <ol>
            <li ng-repeat="de in job.detail">{{de}}</li>
          </ol>

        </div>  

      </div>

      <hr class="featurette-divider">
      
      <div class="row">
       
        <div class="col-sm-offset-1 col-sm-2"><h4><i class="fa fa-quote-left "></i> 任职资格</h4></div>  

        <div class="col-sm-6">
          <ol>
            <li ng-repeat="de in job.requirement">{{de}}</li>
          </ol>

        </div>  

      </div>

      <hr class="featurette-divider">
      
      <div class="row">
       
        <div class="col-sm-offset-1 col-sm-8"><h4><i class="fa fa-user-plus"></i> 简历投递 : <u>{{job.contact}}</u></h4></div>  
      </div>

    </div>