			<div class="col-sm-offset-1 col-sm-7">
    			<h3 class="text-center"><i class="fa fa-list"></i>  招聘信息</h3>
        		<hr class="featurette-divider">

        		<div>
        			<blockquote><i class="fa fa-quote-left"></i>人才是一条理性的河流，哪里有谷地，就向哪里汇聚。<i class="fa fa-quote-right"></i></blockquote>
					<p>凭借公司治理和道德准则上的优秀表现，公司连续多年被评选为“<b>最受尊敬企业</b>”和“<b>最佳雇主</b>”。</p>
				</div>

				<hr class="featurette-divider">

	    		<table class="table table-striped table-hover">
	    			<thead>
	    				<tr>
	    					<th>职位名称</th>
	    					<th>学历要求</th>
	    					<th>工作地点</th>
	    					<th>详情</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr ng-repeat="(key, job) in jobs">
	    					<td>{{job.name}}</td>
	    					<td>本科</td>
	    					<td>{{job.location}}</td>
	    					<td><a ng-href="#/job/{{key}}" class="btn btn-sm btn-default">详情</a></td>
	    				</tr>

	    			</tbody>
	    		</table>
	    	</div>
