    <div id="gallery" class="container">
      <h2 class="featurette-heading">全国物流园区</h2>
      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-4" ng-repeat="(key,garden) in gardens">
          <div class="item">
          <a class="fancybox" ng-href="#/gar/{{key}}">
            <img src="{{garden.thumb}}" alt="" />
            <div class="create_hover">
                {{garden.name}}
            </div>
          </a>
          </div>
           <div class="text-center">
                {{garden.name}}
            </div>
        </div>

      </div>
    
    </div>